.callToActionSection {
    height: 20vh;
    width:70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
    background-color: #0070f4;
    color: white;
    border-radius: 7px;
    padding: 40px;
    margin-top: 40px;
   margin-left: 160px;
  }
  .firstSide h1 {
    margin-left: 18px;
  }
  .firstSide p {
    color: white;
    font-size: 20px;
    font-weight: 100;
  }
  .secondSide button {
    height: 50px;
    width: 210px;
    color: #0070f4;
    background-color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    font-size: large;
    font-weight: 400;
  }
  